<div class="main">
    <div class="about">
        <h2>Hello there!!</h2>
        <p>I'm Pr0xS and I have made this app mainly because I'm too lazy to do the crossbreeding manually.</p>
        <p>I've been using other Apps that do the same thing, but those only take into account the first generation, and I wanted something that find the optimal solution with the current available samples even if that mean to have multiple generations.</p>
        <p>And that is the reason this app exists.</p>
        
        <p>I've been doing this app while learning how to do it, so there are a lot of room for improvement and also I expect it to have some bugs.</p>
        <p>This app was inspired by the one made by the user <a href="https://www.reddit.com/user/Diffrnt" target="_blank">u/Diffrnt</a> and the guide on how crossbreeding works on Rust by <a href="https://www.youtube.com/channel/UCbUhGPYHIaL6R8XCXzN9lRA"target="_blank">Tamura77</a>.</p>
        
        <br>

        <div class="middleSection">
            <div class="info">
                <p>The technologies that I have been used are:</p>
                <ul>
                    <li><a href="https://angular.io/" target="_blank">Angular</a> (Front-End framework)</li>
                    <li><a href="https://material.angular.io/" target="_blank">Angular Material</a> (for themeing)</li>
                    <li>Github (for hosting the code)</li>
                    <li>Github Pages (for hosting the app)</li>
                </ul>
    
                <br>
    
                <p>If you have any suggetion you can contact me on:</p>
                <ul>
                    <li>Discord: Pr0xS#5813</li>
                    <li>Reddit: <a href="https://www.reddit.com/user/Pr0xS" target="_blank">u/Pr0xS</a></li>
                    <li>Github: <a href="https://github.com/Pr0xS" target="_blank">Pr0xS</a></li>
                </ul>
    
                <br>
                
                <p>The croosbreeding animation was made by G3oX</p>
                <ul>
                    <li>Portfolio: <a href="https://g3ox.artstation.com/" target="_blank">Artstation</a></li>
                    <li>Twitter: <a href="https://twitter.com/G3oX" target="_blank">G3oX</a></li>
                    <li>Twitch: <a href="https://twitch.tv/TGCShow" target="_blank">TGCShow</a></li>
                </ul>
            </div>
            <div class="animation">
                <img src="./assets/images/crossbreeding.gif" alt="croosbreeding animation">
            </div>
        </div>

        <br>

        <p>If you want to contribuite to the project, you can do it throught improving the code on <a href="https://github.com/Pr0xS/Rust-Genetics-Lab" target="_blank">Github</a>  or <a routerLink="/donate">donating</a></p>
    </div>
</div>