<div class="main">
    <div class="about">
        <h2>Hello there!!</h2>
        <p>I'm Pr0xS and I have made this app mainly because I'm too lazy to do the crossbreeding manually.</p>
        <p>I've been using other Apps that do the same thing, but those only take into account the first generation, and I wanted something that find the optimal solution with the current available samples even if that mean to have multiple generations.</p>
        <p>And that is the reason this app exists.</p>
        
        <p>I've been doing this app while learning how to do it, so there are a lot of room for improvement and also I expect it to have some bugs.</p>
        <p>This app was inspired by the one made by the user <a href="https://www.reddit.com/user/Diffrnt" target="_blank">u/Diffrnt</a> and the guide on how crossbreeding works on Rust by <a href="https://www.youtube.com/channel/UCbUhGPYHIaL6R8XCXzN9lRA"target="_blank">Tamura77</a>.</p>
        
        <p>The technologies that I have been used are:</p>
        <ul>
            <li><a href="https://angular.io/" target="_blank">Angular</a> (Front-End framework)</li>
            <li><a href="https://material.angular.io/" target="_blank">Angular Material</a> (for themeing)</li>
            <li>Github (for hosting the code)</li>
            <li>Github Pages (for hosting the app)</li>
        </ul>
        
        <p>If you have any suggetion you can contact me on:</p>
        <ul>
            <li>Discord: Pr0xS#5813</li>
            <li>Reddit: <a href="">u/Pr0xS</a></li>
            <li>Github: <a href="https://github.com/Pr0xS" target="_blank">Pr0xS</a></li>
        </ul>

        <p>If you want to contribuite to the project, you can do it throught improving the code on github or <a routerLink="/donate">donating</a></p>
    </div>
</div>