<mat-toolbar class="mat-elevation-z6 navbar">
    <div class="brand" routerLink="">
        <img src="./assets/images/rust.svg" alt="Rust Logo" width=112 height=28 class="logo">
        <span class="name">Genetics lab</span>
    </div>
    <span class="spacer"></span>
    <span class="button"><button routerLink="/about" mat-raised-button>About</button></span>
    <span class="button"><a href="https://github.com/Pr0xS/Rust-Genetics-Lab" target="_blank" mat-raised-button><img class="githubIcon" src="./assets/images/github.svg" alt="github">Github</a></span>
    <span class="button"><button routerLink="/donate" mat-raised-button color="accent">Donate</button></span>
</mat-toolbar>