.separator {
    display: inline-block;
    margin: 0px 2px;
    opacity: 50%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circle {
    height: 25px;
    width: 25px;
    line-height: 26px;
    border-radius: 50%;
    display: inline-block;
    text-align: center center;
}

.good {
    background-color: olivedrab;
}

.bad {
    background-color: #a5352b;
}